name: Deploy to Firebase Hosting on PR
on: pull_request
permissions:
  checks: write
  contents: read
  pull-requests: write
jobs:
  build_and_preview:
    if: ${{ github.event.pull_request.head.repo.full_name == github.repository }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "20" # Adjust to your Node version
          cache: "npm" # Speeds up dependency installation
      - run: npm ci && npm run build # Install dependencies and build
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_GYMNEX_65440 }}
          channelId: previews # Deploy to preview channel
          projectId: gymnex-65440
        env:
          FIREBASE_CLI_PREVIEWS: hostingchannels
